<div id="main_div" class="container container-fluid" style="width:100%">
<div class="row">
  <div class="col-lg-12">
      <div id="title" class="col-lg-8 col-lg-push-2" style="margin-top:15%">
          <div class="text-center">
            <span class="overline"></span>
            <a style="font-family: 'Allura', cursive; font-size: 10vh">KatieEllefson Photography</a>
            <span class="underline"></span>
            <button class="btn btn-primary" >ASDF </button>
          </div>

      </div>



  </div>
  <div id="gallery" class="col-lg-10 col-lg-push-1">
    <%= react_component("PrettyGallery") %>
  </div>

</div>
</div>
